<h1> Mixtapes! </h1>

<table>
  <tr>
    <th>Songs</th>
    <th>Associations!</th>
  </tr>

  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %>,<%= song.artist %></td>
      <td>
      	  <% song.tapes.each do |tape| %>
            <ul>
              <li> <%= link_to tape.name, tape %> </li>
            </ul>
          <% end %>
      </td>
      <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
  	</tr>
<% end %>
</table>
